

<HTML>
  <HEAD>
    <TITLE>CSC 423 Project</TITLE>
  </HEAD>
  <BODY>
    <CENTER>
    	<H1> Ad Event System </H1>
  	<!-- Setup navigation button -->
  	<input type="button" value="Insert New Item" 
  	onclick="window.location='new_item_ui.php'"><br /><br />

    <input type="button" value="Search For Existing Item" 
  	onclick="window.location='search_item_ui.php'"><br /><br />
        
    <input type="button" value="Insert New Promotion" 
  	onclick="window.location='new_promotion_ui.php'"><br /><br />

    <input type="button" value="Search For Existing Promotion" 
  	onclick="window.location='search_promotion_ui.php'"><br /><br />

  	<input type="button" value="Insert New Ad Event" 
  	onclick="window.location='new_adevent_ui.php'"><br /><br />

    <input type="button" value="Search For Existing Ad Event" 
  	onclick="window.location='search_adevent_ui.php'"><br /><br />
    </CENTER>
  </BODY>
</HTML>